XTerm*metaSendsEscape: true
XTerm*background:       black
XTerm*foreground:       white
XTerm*cursorColor:      white
XTerm.vt100.geometry:   79x25
XTerm*scrollTtyOutput:  false
XTerm.defaultFont:      medium
XTerm*faceName: Bitstream Vera Serif Mono
XTerm*faceSize: 15
